.page-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 15px;
    padding-bottom: 15px;
}

mat-card {
    width: 60%;
}

.center {
    align-self: center;
}

.input-width {
    width: 60%;
}

.submit-button {
    background-color: yellowgreen;
    color: white;
}

.cancel-button {
    background-color: tomato;
    color: white;
}

.spacer {
    margin-left: 10px;
    margin-right: 10px;
}